<!-- templates/index.html -->

{% extends "_base.html" %}

{% block content %}
    <div class="container mx-auto py-10 h-screen">
        <h1 class="text-6xl font-bold mb-6">Prédiction de l'affluence aux urgences
        </h1>
        <div>
            <p class="text-xl font-bold mb-6">Remplissez le formulaire pour faire votre prédiction</p>
        </div>
        <div class="grid grid-cols-7 bg-white shadow-md rounded py-10">
            <div class="col-span-2 mx-8">
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="date">
                        Date
                    </label>
                    <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                           id="date" type="date">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="match">
                        Match
                    </label>
                    <div class="flex items-center">
                        <input type="checkbox" name="match" id="match"
                               class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 cursor-pointer"/>
                        <label class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
                    </div>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="alert">
                        Alerte
                    </label>
                    <div class="flex items-center">
                        <input type="checkbox" name="alert" id="alert"
                               class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 cursor-pointer"/>
                        <label class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
                    </div>
                </div>
                <button onclick="handleSubmit()"
                        class="bg-blue-800 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Envoyer
                </button>
                <p id="error" class="text-red-600 font-bold mt-4"></p>
            </div>
            <div class="bg-slate-700 h-full w-[0.3px] col-span-1"></div>
            <div class="col-span-3 w-full">
                <h2 class="text-2xl">Résultat prédiction :</h2>
                <span id="result">Pas encore calculé</span>
            </div>
        </div>

    </div>
{% endblock content %}

{% block scripts %}
    <script>
        try {
            function handleSubmit() {
                // Get the error element
                const error = document.getElementById('error')
                // Get result element
                const result = document.getElementById('result')
                // Get the values from the form
                const date = document.getElementById('date').value
                if (!date) return error.innerHTML = 'Veuillez renseigner une date'

                const match = document.getElementById('match').checked

                const alert = document.getElementById('alert').checked

                // Reset error message
                error.innerHTML = ''

                // Create the data object
                const data = {
                    date,
                    match,
                    alert,
                }

                // Fetch the prediction
                fetch(`/api/predict`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success:', data);
                        // If result is error, display the error message
                        if (data.success === false) {
                            return error.innerHTML = "Erreur interne."
                        } else {
                            // Else get result from dictionnary with the data as input
                            result.innerHTML = get_text_result(data.prediction[0], date)
                        }
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            }

            function get_text_result(input, date) {
                if (input === 0)
                    return `Moins de 100 personnes sont attendues le ${date}`
                if (typeof input !== 'number')
                    return `Erreur interne`
                return `Entre ${input * 100} et ${(input + 1) * 100} personnes sont attendues le ${date}`
            }
        } catch (e) {
            console.log(e)
        }
    </script>
{% endblock scripts %}